<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/167982fc-065c-44a2-a425-1a331000cf37/resourceGroups/PersonalPage/providers/Microsoft.ApiManagement/service/MainPostsAPIapi/apis/MainPostsAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/167982fc-065c-44a2-a425-1a331000cf37/resourceGroups/PersonalPage/providers/Microsoft.Web/sites/personalpageapi</ResourceId>
    <ResourceGroup>PersonalPage</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://personalpageapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>12fc9bed-c230-43d5-8e11-4b7071fce0ed</ProjectGuid>
    <PublishUrl>https://personalpageapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$personalpageapi</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>